<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnAtomicTermMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.AnAtomicTerm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="term" property="term" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="concept_id" property="conceptId" jdbcType="VARCHAR"/>
        <result column="from_anid" property="fromAnId" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="ALL_COLUMN">
          id,
          term,
          type,
          state,
          concept_id,
          gmt_created,
          gmt_modified
    </sql>
    <select id="selectByTerm" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term WHERE term = #{term}
    </select>

    <select id="selectByState" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term WHERE state = #{state}
    </select>

    <select id="selectByTermAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term
        WHERE state='ENABLE'
        <if test="term!=null and term!=''">
            AND term = #{term}
        </if>
        <if test="type!=null and type!=''">
            AND type = #{type}
        </if>
        ORDER BY id
    </select>
    <select id="fuzzyQueryByTermAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term
        WHERE state='ENABLE'
        <if test="term!=null and term!=''">
            AND term like concat('%',#{term},'%')
        </if>
        <if test="type!=null and type!=''">
            AND type = #{type}
        </if>
        ORDER BY id
    </select>
    <select id="selectByTermAndTypeNotNull" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term
        WHERE state='ENABLE'
        AND term = #{term}
        AND type = #{type}
        ORDER BY id
    </select>
    <select id="selectAtomicIDsByOldType" resultMap="BaseResultMap">
        SELECT <include refid="ALL_COLUMN"/>
        FROM an_atomic_term WHERE type=#{type}
    </select>
    <update id="batchUpdateAtomicType" parameterType="java.util.List">
        UPDATE an_atomic_term SET type=#{type}
        WHERE id IN
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="batchUpdateAtomicConceptId" parameterType="java.util.List">
        UPDATE an_atomic_term SET concept_id =#{conceptId}
        WHERE id IN
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="updateConceptIdByPrimaryKey">
        UPDATE an_atomic_term SET concept_id =#{conceptId}
        WHERE id =#{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByTermAndTypeIsSynonyms" resultMap="BaseResultMap">
        SELECT
        AAT.id,
        term,
        type,
        state,
        AAT.concept_id,
        gmt_created,
        gmt_modified,
        CT.standard_name
        FROM an_atomic_term AAT LEFT JOIN concept CT
        ON AAT.concept_id=CT.concept_id
        WHERE state='ENABLE'
        <if test="term!=null and term!=''">
            AND term = #{term}
        </if>
        <if test="type!=null and type!=''">
            AND type = #{type}
        </if>
        <if test="id!=null and id!=''">
            AND AAT.id =#{id}
        </if>
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  AAT.concept_id !=''
            </when>
            <otherwise>
                AND  AAT.concept_id =''
            </otherwise>
        </choose>
        ORDER BY AAT.id
    </select>
    <select id="selectTotalByChecked" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
        FROM an_atomic_term
        WHERE 1=1
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  concept_id !=''
            </when>
            <otherwise>
                AND  concept_id =''
            </otherwise>
        </choose>
    </select>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        SELECT
        AAT.id,
        term,
        type,
        state,
        AAT.concept_id,
        gmt_created,
        gmt_modified,
        CT.standard_name
        FROM an_atomic_term AAT LEFT JOIN concept CT
        ON AAT.concept_id=CT.concept_id
        WHERE AAT.state='ENABLE'
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  AAT.concept_id !=''
            </when>
            <otherwise>
                AND  AAT.concept_id =''
            </otherwise>
        </choose>
    </select>
    <select id="selectAllAtomicTerm" resultMap="BaseResultMap">
        select term,type from an_atomic_term where term in (select term from an_atomic_term GROUP BY term having count(id)>1 )
    </select>
    <select id="selectByPrimaryKeyID" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM an_atomic_term WHERE  state='ENABLE'
        <if test="id!=null and id!='' ">
        AND id=#{id}
        </if>
    </select>
    <select id="selectAllByConceptId" resultMap="BaseResultMap">
        SELECT
        AAT.id,
        term,
        type,
        state,
        AAT.concept_id,
        gmt_created,
        gmt_modified,
        CT.standard_name
        FROM an_atomic_term AAT LEFT JOIN concept CT
        ON AAT.concept_id=CT.concept_id
        WHERE 1=1
        <if test="conceptId!=null and conceptId!='' ">
        AND AAT.concept_id=#{conceptId}
        </if>
    </select>
</mapper>