<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnAtomicTermMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.AnAtomicTerm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TERM" property="term" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="CONCEPT_ID" property="conceptId" jdbcType="VARCHAR"/>
        <result column="FROM_ANID" property="fromAnId" jdbcType="VARCHAR"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="ALL_COLUMN">
      ID,
      TERM,
      TYPE,
      STATE,
      CONCEPT_ID,
      GMT_CREATED,
      GMT_MODIFIED
  </sql>

    <select id="selectByTerm" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM WHERE TERM = #{term}
    </select>

    <select id="selectByState" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM WHERE STATE = #{state}
    </select>

    <select id="selectByTermAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM
        WHERE 1=1
        <if test="term!=null and term!=''">
            AND TERM = #{term}
        </if>
        <if test="type!=null and type!=''">
            AND TYPE = #{type}
        </if>
        ORDER BY ID
    </select>
    <select id="fuzzyQueryByTermAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM
        WHERE 1=1
        <if test="term!=null and term!=''">
            AND TERM like concat('%',#{term},'%')
        </if>
        <if test="type!=null and type!=''">
            AND TYPE = #{type}
        </if>
        ORDER BY ID
    </select>
    <select id="selectByTermAndTypeNotNull" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM
        WHERE 1=1
        AND TERM = #{term}
        AND TYPE = #{type}
        ORDER BY ID
    </select>
    <select id="selectAtomicIDsByOldType" resultMap="BaseResultMap">
        SELECT <include refid="ALL_COLUMN"/>
        FROM AN_ATOMIC_TERM WHERE TYPE=#{type}
    </select>
    <update id="batchUpdateAtomicType" parameterType="java.util.List">
        UPDATE AN_ATOMIC_TERM SET TYPE =#{type}
        WHERE ID IN 
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="updateConceptIdByPrimaryKey">
        UPDATE AN_ATOMIC_TERM SET CONCEPT_ID =#{conceptId}
        WHERE ID =#{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByTermAndTypeIsSynonyms" resultMap="BaseResultMap">
        SELECT
        AAT.ID,
        TERM,
        TYPE,
        STATE,
        AAT.CONCEPT_ID,
        GMT_CREATED,
        GMT_MODIFIED,
        CT.standard_name
        FROM AN_ATOMIC_TERM AAT LEFT JOIN CONCEPT CT
        ON AAT.CONCEPT_ID=CT.concept_id
        WHERE state='ENABLE'
        <if test="term!=null and term!=''">
            AND TERM = #{term}
        </if>
        <if test="type!=null and type!=''">
            AND TYPE = #{type}
        </if>
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  AAT.CONCEPT_ID !=''
            </when>
            <otherwise>
                AND  AAT.CONCEPT_ID =''
            </otherwise>
        </choose>
        ORDER BY AAT.ID
    </select>
    <select id="selectTotalByChecked" resultType="java.lang.Integer">
        SELECT
        COUNT(ID)
        FROM AN_ATOMIC_TERM
        WHERE 1=1
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  CONCEPT_ID !=''
            </when>
            <otherwise>
                AND  CONCEPT_ID =''
            </otherwise>
        </choose>
    </select>
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        SELECT
        AAT.ID,
        TERM,
        TYPE,
        STATE,
        AAT.CONCEPT_ID,
        GMT_CREATED,
        GMT_MODIFIED,
        CT.standard_name
        FROM AN_ATOMIC_TERM LEFT JOIN CONCEPT CT
        ON AAT.CONCEPT_ID=CT.concept_id
        WHERE 1=1
        <choose>
            <when test="checked!=null and checked =='true'">
                AND  AAT.CONCEPT_ID !=''
            </when>
            <otherwise>
                AND  AAT.CONCEPT_ID =''
            </otherwise>
        </choose>
    </select>
</mapper>