<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnnotationMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.Annotation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="TERM_ID" jdbcType="VARCHAR" property="termId"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
        <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="TERM" jdbcType="LONGVARCHAR" property="term"/>
        <result column="AUTO_ANNOTATION" jdbcType="LONGVARCHAR" property="autoAnnotation"/>
        <result column="MANUAL_ANNOTATION" jdbcType="LONGVARCHAR" property="manualAnnotation"/>
        <result column="FINAL_ANNOTATION" jdbcType="LONGVARCHAR" property="finalAnnotation"/>
        <result column="NEW_TERMS" jdbcType="LONGVARCHAR" property="newTerms"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    ID,
    TERM_ID,
    STATE,
    MODIFIER,
    GMT_CREATED,
    GMT_MODIFIED,
    MEMO,
    TERM,
    AUTO_ANNOTATION,
    MANUAL_ANNOTATION,
    FINAL_ANNOTATION,
    NEW_TERMS
  </sql>
    <update id="batchUpdateFinalAndManualAnnotation">
        UPDATE ANNOTATION SET FINAL_ANNOTATION=
        <foreach close="end" collection="annotationList" index="index" item="item" open="case ID" separator=" ">
            when #{item.id} THEN
            #{item.finalAnnotation}
        </foreach>
        ,MANUAL_ANNOTATION=
        <foreach collection="annotationList" index="index" item="item" open="case ID" close="end" separator=" ">
            when #{item.id} THEN
            #{item.manualAnnotation}
        </foreach>
          WHERE ID in
        <foreach collection="annotationList" index="index" item="item" open="(" close=")" separator=",">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="batchUpdateFinalAnnotation">
        <foreach close="" collection="annotationList" index="index" item="item" open="" separator=" ">
            UPDATE ANNOTATION SET FINAL_ANNOTATION=REPLACE(REPLACE(#{item.finalAnnotation,jdbcType=LONGVARCHAR},
            CHAR(10), ''), CHAR(13), '')
            WHERE ID=#{item.id,jdbcType=VARCHAR};
        </foreach>
    </update>

    <select id="selectByStateModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        AND MODIFIER = #{modifier}
        ORDER BY ID DESC
    </select>

    <select id="selectByStateListModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="stateList!=null">
            AND STATE IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND MODIFIER = #{modifier}
        ORDER BY STATE DESC
        ,GMT_CREATED ASC
    </select>

    <select id="selectFinalAnnotationByPagination"  resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!='' ">
            AND STATE = #{state}
        </if>
        ORDER BY ID
        <if test="start!=null and pageSize!=null">
        LIMIT #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByStateList" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="stateList!=null">
            AND STATE IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY ID
    </select>

    <select id="selectByTermId" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE TERM_ID = #{termId}
    </select>
    <select id="selectTermAnnotationCount"  resultType="java.lang.Integer">
        SELECT COUNT(ID) FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND  state=#{state}
        </if>
    </select>
    <select id="selectByStateAndTermFuzzy" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        <if test="term!=null and term!=''">
            AND TERM LIKE CONCAT('%',#{term},'%')
        </if>
        AND MODIFIER = #{modifier}
        ORDER BY
        GMT_CREATED ASC
    </select>
    <select id="selectByStateAndUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND MODIFIER = #{userId}
        </if>
        ORDER BY
        GMT_CREATED DESC
    </select>
    <update id="batchUpdateAnnotationUserId" parameterType="java.util.List">
        UPDATE ANNOTATION SET MODIFIER =#{modifier}
        WHERE ID IN
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="selectIDsByNum" resultType="java.lang.String">
        SELECT
        ID
        FROM ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND MODIFIER = #{userId}
        </if>
        ORDER BY
        GMT_CREATED DESC
        <!--<if test="total !=null">-->
         <!--LIMIT 0,#{total,jdbcType=INTEGER}-->
        <!--</if>-->
    </select>
</mapper>