<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnnotationMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.Annotation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="term_id" jdbcType="VARCHAR" property="termId"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="gmt_modifier" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="term" jdbcType="LONGVARCHAR" property="term"/>
        <result column="auto_annotation" jdbcType="LONGVARCHAR" property="autoAnnotation"/>
        <result column="manual_annotation" jdbcType="LONGVARCHAR" property="manualAnnotation"/>
        <result column="final_annotation" jdbcType="LONGVARCHAR" property="finalAnnotation"/>
        <result column="new_terms" jdbcType="LONGVARCHAR" property="newTerms"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    id,
    term_id,
    state,
    modifier,
    gmt_created,
    gmt_modified,
    memo,
    term,
    auto_annotation,
    manual_annotation,
    final_annotation,
    new_terms
  </sql>
    <update id="batchUpdateFinalAndManualAnnotation">
        UPDATE annotation SET final_annotation=
        <foreach close="end" collection="annotationList" index="index" item="item" open="case id" separator=" ">
            when #{item.id} THEN
            #{item.finalAnnotation}
        </foreach>
        ,manual_annotation=
        <foreach collection="annotationList" index="index" item="item" open="case id" close="end" separator=" ">
            when #{item.id} THEN
            #{item.manualAnnotation}
        </foreach>
          WHERE id in
        <foreach collection="annotationList" index="index" item="item" open="(" close=")" separator=",">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="batchUpdateFinalAnnotation">
        <foreach close="" collection="annotationList" index="index" item="item" open="" separator=" ">
            UPDATE annotation SET final_annotation=REPLACE(REPLACE(#{item.finalAnnotation,jdbcType=LONGVARCHAR},
            CHAR(10), ''), CHAR(13), '')
            WHERE id=#{item.id,jdbcType=VARCHAR};
        </foreach>
    </update>

    <select id="selectByStateModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="state!=null and state!=''">
            AND state = #{state}
        </if>
        AND modifier = #{modifier}
        ORDER BY id DESC
    </select>

    <select id="selectByStateListModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="stateList!=null">
            AND state IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND modifier = #{modifier}
        ORDER BY state DESC
        ,gmt_created ASC
    </select>

    <select id="selectFinalAnnotationByPagination"  resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="state!=null and state!='' ">
            AND state = #{state}
        </if>
        ORDER BY id
        <if test="start!=null and pageSize!=null">
        LIMIT #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByStateList" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="stateList!=null">
            AND state IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY id
    </select>
    <select id="selectByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="idList!=null">
            AND id IN
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY id
    </select>

    <select id="selectByTermId" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE term_id = #{termId}
    </select>
    <select id="selectTermAnnotationCount"  resultType="java.lang.Integer">
        SELECT COUNT(id) FROM annotation WHERE 1=1
        <if test="state!=null and state!=''">
            AND  state=#{state}
        </if>
    </select>
    <select id="selectByStateAndTermFuzzy" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="state!=null and state!=''">
            AND state = #{state}
        </if>
        <if test="term!=null and term!=''">
            AND term LIKE CONCAT('%',#{term},'%')
        </if>
        AND modifier = #{modifier}
        ORDER BY
        gmt_created ASC
    </select>
    <select id="selectByStateAndUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM annotation WHERE 1=1
        <if test="state!=null and state!=''">
            AND state = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND modified = #{userId}
        </if>
        ORDER BY
        gmt_created DESC
    </select>
    <update id="batchUpdateAnnotationUserId" parameterType="java.util.List">
        UPDATE annotation SET modifier =#{modifier}
        WHERE id IN
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="selectIDsByNum" resultType="java.lang.String">
        SELECT
        id
        FROM annotation WHERE 1=1
        <if test="state!=null and state!=''">
            AND state = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND modifier = #{userId}
        </if>
        ORDER BY
        gmt_created DESC
    </select>
</mapper>