<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnTermAnnotationMapper" >
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.AnTermAnnotation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TERM_ID" property="termId" jdbcType="VARCHAR" />
    <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="AUTO_ANNOTATION" property="autoAnnotation" jdbcType="LONGVARCHAR" />
    <result column="MANUAL_ANNOTATION" property="manualAnnotation" jdbcType="LONGVARCHAR" />
    <result column="FINAL_ANNOTATION" property="finalAnnotation" jdbcType="LONGVARCHAR" />
    <result column="NEW_TERMS" property="newTerms" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>