<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnTermAnnotationMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.AnTermAnnotation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="TERM_ID" jdbcType="VARCHAR" property="termId"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="MODIFIER" jdbcType="VARCHAR" property="modifier"/>
        <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="TERM" jdbcType="LONGVARCHAR" property="term"/>
        <result column="AUTO_ANNOTATION" jdbcType="LONGVARCHAR" property="autoAnnotation"/>
        <result column="MANUAL_ANNOTATION" jdbcType="LONGVARCHAR" property="manualAnnotation"/>
        <result column="FINAL_ANNOTATION" jdbcType="LONGVARCHAR" property="finalAnnotation"/>
        <result column="NEW_TERMS" jdbcType="LONGVARCHAR" property="newTerms"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    ID,
    TERM_ID,
    STATE,
    MODIFIER,
    GMT_CREATED,
    GMT_MODIFIED,
    MEMO,
    TERM,
    AUTO_ANNOTATION,
    MANUAL_ANNOTATION,
    FINAL_ANNOTATION,
    NEW_TERMS
  </sql>

    <update id="batchUpdateFinalAnnotation">
        <foreach close="" collection="anTermAnnotationList" index="index" item="item" open="" separator=" ">
            UPDATE AN_TERM_ANNOTATION SET FINAL_ANNOTATION=REPLACE(REPLACE(#{item.finalAnnotation,jdbcType=LONGVARCHAR},
            CHAR(10), ''), CHAR(13), '')
            WHERE ID=#{item.id,jdbcType=VARCHAR};
        </foreach>
    </update>

    <select id="selectByStateModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_TERM_ANNOTATION WHERE 1=1
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
        AND MODIFIER = #{modifier}
        ORDER BY STATE DESC
    </select>

    <select id="selectByStateListModifier" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_TERM_ANNOTATION WHERE 1=1
        <if test="stateList!=null">
            AND STATE IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND MODIFIER = #{modifier}
        ORDER BY STATE DESC , ID DESC
    </select>

    <select id="selectByStateList" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_TERM_ANNOTATION WHERE 1=1
        <if test="stateList!=null">
            AND STATE IN
            <foreach collection="stateList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY STATE DESC , ID DESC
    </select>

    <select id="selectByTermId" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM AN_TERM_ANNOTATION WHERE TERM_ID = #{termId}
    </select>

</mapper>