<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.malgo.annotation.common.dal.mapper.AnTermMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.AnTerm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TERM" property="term" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    ID,
    TERM,
    TYPE,
    STATE,
    MEMO,
    GMT_CREATED,
    GMT_MODIFIED
  </sql>

    <select id="selectByState" resultMap="BaseResultMap">
      SELECT <include refid="ALL_COLUMN"/>
      FROM CORPUS WHERE STATE = #{state}
    </select>
    <select id="selectAnTermIDsByOldType" resultMap="BaseResultMap">
        SELECT <include refid="ALL_COLUMN"/>
        FROM CORPUS WHERE TYPE=#{type}
    </select>
    <update id="batchUpdateAnTermType" parameterType="java.util.List">
        UPDATE CORPUS SET TYPE =#{type}
        WHERE ID IN
        <foreach collection="idsList" item="item" open="(" close=")" separator="," index="">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>
</mapper>