<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.ConceptMapper">
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.Concept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
    <result column="concept_id" jdbcType="VARCHAR" property="conceptId" />
  </resultMap>

  <sql id="ALL_COLUMN">
    id,
    concept_id,
    standard_name
  </sql>
  <select id="selectConceptByConceptId" resultMap="BaseResultMap">
    SELECT  <include refid="ALL_COLUMN" />
    FROM CONCEPT WHERE concept_id=#{conceptId}
  </select>
  <select id="selectConceptByStandardName" resultMap="BaseResultMap">
    SELECT  <include refid="ALL_COLUMN" />
    FROM CONCEPT WHERE standard_name=#{standardName}
  </select>
</mapper>