<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.CrmRoleMapper">
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.CrmRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="ALL_COLUMN">
    id,
    role_id,
    role_name,
    gmt_created,
    gmt_update
  </sql>
  <select id="selectCrmRoleByRoleId" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN"/>
    FROM crm_role WHERE role_id=#{roleId}
  </select>
  <select id="selectCrmRoleByRoleName" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN"/>
    FROM crm_role WHERE role_name=#{roleName}
  </select>
  <select id="selectCrmRoleCount"  resultType="java.lang.Integer">
     SELECT COUNT(id) FROM crm_role
  </select>
</mapper>

