<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.CrmRoleMapper">
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.CrmRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="ALL_COLUMN">
    ID,
    ROLE_ID,
    ROLE_NAME,
    GMT_CREATED,
    GMT_MODIFIED
  </sql>
  <select id="selectCrmRoleByRoleId" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN"/>
    FROM CRM_ROLE WHERE CRM_ID=#{roleId}
  </select>
  <select id="selectCrmRoleByRoleName" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN"/>
    FROM CRM_ROLE WHERE CRM_NAME=#{roleName}
  </select>
  <select id="selectCrmRoleCount"  resultType="java.lang.Integer">
     SELECT COUNT(ID) FROM CRM_ROLE
  </select>
</mapper>

