<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.RlEntityRuleMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.RlEntityRule">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="rule_id" jdbcType="VARCHAR" property="ruleId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_type" jdbcType="VARCHAR" property="ruleType"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="rule_value" jdbcType="LONGVARCHAR" property="ruleValue"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    rule_id,
    rule_name,
    rule_value,
    rule_type,
    state,
    memo,
    gmt_created,
    gmt_modified
  </sql>


    <select id="selectByRule" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM rl_entity_rule WHERE rule_value = #{ruleValue} AND rule_type = #{ruleType}
    </select>

    <select id="selectByOnePage" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM rl_entity_rule WHERE 1=1
        <if test="ruleName!=null and ruleName!=''">
            AND rule_name LIKE CONCAT('%',#{ruleName},'%')
        </if>
        <if test="ruleValue!=null and ruleValue!=''">
            AND rule_value LIKE CONCAT('%',#{ruleValue},'%')
        </if>
        <if test="ruleType!=null and ruleType!=''">
            AND rule_type = #{ruleType}
        </if>
        <if test="state!=null and state!=''">
            AND state = #{state}
        </if>
    </select>


</mapper>