<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.RlEntityRuleMapper">
    <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.RlEntityRule">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="RULE_ID" jdbcType="VARCHAR" property="ruleId"/>
        <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName"/>
        <result column="RULE_TYPE" jdbcType="VARCHAR" property="ruleType"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated"/>
        <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="RULE_VALUE" jdbcType="LONGVARCHAR" property="ruleValue"/>
    </resultMap>

    <sql id="ALL_COLUMN">
    RULE_ID,
    RULE_NAME,
    RULE_VALUE,
    RULE_TYPE,
    STATE,
    MEMO,
    GMT_CREATED,
    GMT_MODIFIED
  </sql>


    <select id="selectByRule" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM RL_ENTITY_RULE WHERE RULE_VALUE = #{ruleValue} AND RULE_TYPE = #{ruleType}
    </select>

    <select id="selectByOnePage" resultMap="BaseResultMap">
        SELECT
        <include refid="ALL_COLUMN"/>
        FROM RL_ENTITY_RULE WHERE 1=1
        <if test="ruleName!=null and ruleName!=''">
            AND RULE_NAME LIKE CONCAT('%',#{ruleName},'%')
        </if>
        <if test="ruleValue!=null and ruleValue!=''">
            AND RULE_VALUE LIKE CONCAT('%',#{ruleValue},'%')
        </if>
        <if test="ruleType!=null and ruleType!=''">
            AND RULE_TYPE = #{ruleType}
        </if>
        <if test="state!=null and state!=''">
            AND STATE = #{state}
        </if>
    </select>


</mapper>