<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.TermMapper">
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.Term">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="term_id" jdbcType="VARCHAR" property="termId" />
    <result column="pterm_id" jdbcType="VARCHAR" property="ptermId" />
    <result column="term_code" jdbcType="VARCHAR" property="termCode" />
    <result column="term_type" jdbcType="VARCHAR" property="termType" />
    <result column="term_name" jdbcType="VARCHAR" property="termName" />
    <result column="origin_name" jdbcType="VARCHAR" property="originName" />
    <result column="has_children" jdbcType="INTEGER" property="hasChildren" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="concept_id" jdbcType="VARCHAR" property="conceptId" />
  </resultMap>
  <sql id="ALL_COLUMN">
    id,
    term_id,
    pterm_id,
    term_code,
    term_type,
    term_name,
    origin_name,
    has_children,
    label,
    state,
    concept_id
  </sql>
  <select id="selectEnableTerm" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN" />
    FROM TERM WHERE state='ENABLE' OR state IS NULL
  </select>
  <select id="selectTermByCondition" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN" />
    FROM TERM WHERE state='ENABLE' OR state IS NULL
    <if test="termName!=null and termName!=''">
      AND term_name LIKE CONCAT('%',#{termName},'%')
    </if>
    <if test="termType!=null and termType!=''">
      AND term_type LIKE CONCAT('%',#{termType},'%')
    </if>
    <if test="label!=null and label!=''">
      AND label LIKE CONCAT('%',#{label},'%')
    </if>
  </select>
</mapper>