<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malgo.annotation.common.dal.mapper.TermMapper">
  <resultMap id="BaseResultMap" type="cn.malgo.annotation.common.dal.model.Term">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="term_id" jdbcType="VARCHAR" property="termId" />
    <result column="pterm_id" jdbcType="VARCHAR" property="ptermId" />
    <result column="term_code" jdbcType="VARCHAR" property="termCode" />
    <result column="term_type" jdbcType="VARCHAR" property="termType" />
    <result column="term_name" jdbcType="VARCHAR" property="termName" />
    <result column="origin_name" jdbcType="VARCHAR" property="originName" />
    <result column="has_children" jdbcType="INTEGER" property="hasChildren" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="concept_id" jdbcType="VARCHAR" property="conceptId" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
  </resultMap>
  <resultMap id="MixtureMap" type="cn.malgo.annotation.common.dal.model.MixtureTerm">
    <result column="term_id" jdbcType="VARCHAR" property="termId" />
    <result column="term_name" jdbcType="VARCHAR" property="termName" />
  </resultMap>
  <sql id="ALL_COLUMN">
    id,
    term_id,
    pterm_id,
    term_code,
    term_type,
    term_name,
    origin_name,
    has_children,
    label,
    state,
    concept_id
  </sql>
  <select id="selectAllByTermName" resultMap="MixtureMap">
    select id,term_id,term_name
    FROM TERM WHERE state='ENABLE'
    <if test="termName !=null and termName !='' ">
      AND term_name LIKE concat('%',#{termName},'%')
    </if>
    OR state IS NULL
    <if test="termName !=null and termName !='' ">
      AND term_name LIKE concat('%',#{termName},'%')
    </if>
  </select>
  <select id="selectEnableTerm" resultMap="BaseResultMap">
    select <include refid="ALL_COLUMN" />
    FROM TERM WHERE state='ENABLE' OR state IS NULL
  </select>
  <select id="selectTermByCondition" resultMap="BaseResultMap">
    select
    TM.id,
    TM.term_id,
    pterm_id,
    term_code,
    term_type,
    term_name,
    origin_name,
    has_children,
    label,
    state,
    TM.concept_id,
    CT.standard_name
    FROM TERM TM LEFT JOIN CONCEPT CT
    ON TM.CONCEPT_ID=CT.concept_id
    WHERE state='ENABLE'
    <if test="termName!=null and termName!=''">
      AND term_name LIKE CONCAT('%',#{termName},'%')
    </if>
    <if test="termType!=null and termType!=''">
      AND term_type LIKE CONCAT('%',#{termType},'%')
    </if>
    <if test="label!=null and label!=''">
      AND label LIKE CONCAT('%',#{label},'%')
    </if>
    <choose>
      <when test="checked!=null and checked =='true'">
        AND  TM.CONCEPT_ID is not NULL
      </when>
      <otherwise>
        AND  TM.CONCEPT_ID is NULL
      </otherwise>
    </choose>
    OR state IS NULL
    <if test="termName!=null and termName!=''">
      AND term_name LIKE CONCAT('%',#{termName},'%')
    </if>
    <if test="termType!=null and termType!=''">
      AND term_type LIKE CONCAT('%',#{termType},'%')
    </if>
    <if test="label!=null and label!=''">
      AND label LIKE CONCAT('%',#{label},'%')
    </if>
    <choose>
      <when test="checked!=null and checked =='true'">
        AND  TM.CONCEPT_ID is NOT NULL
      </when>
      <otherwise>
        AND  TM.CONCEPT_ID is NULL
      </otherwise>
    </choose>
  </select>
  <select id="selectTermType" resultType="java.lang.String">
    SELECT DISTINCT(term_type) from TERM
  </select>
  <update id="updateBatchLabelOfTerm" parameterType="java.util.List">
    UPDATE TERM SET label=
    <foreach collection="labelList" item="item" index="index" open="CASE ID" separator=" " close="END">
      when #{item.id} THEN
      #{item.label}
    </foreach>
    WHERE ID in
    <foreach collection="labelList" item="item" index="index"  open="(" close=")" separator=",">
      ${item.id}
    </foreach>
  </update>
  <select id="selectByPrimaryKeyID" resultMap="BaseResultMap">
    SELECT
    <include refid="ALL_COLUMN"/>
    FROM TERM WHERE  1=1
    <if test="id!=null and id!='' ">
      AND id=#{id}
    </if>
  </select>
</mapper>